<div class="container-fluid">
    <div class="mb-5">
      <h1>1. Change wallpaper from image in my local PC</h1>
      <button class="btn btn-primary" (click)="changeit()">Open and change wallpaper</button>
    </div>
    <div>
      <h1>2. Change wallpaper with url</h1>
      <input type="text" class="form-control me-2 mb-2" placeholder="Enter url of image"  [(ngModel)]="imageUrl">
      <button class="btn btn-success" (click)="changewithurl()">Change wallpaper</button>
    </div>
    
  </div>
  
  